@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.wrapperContainer {
  display: flex;
  /* align-items: stretch; */
}

header {
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 5%;
}

.sideDrawer {
  background-color: #20ab8c;
  box-shadow: #00000031 0px 3px 6px 3px;
  flex-grow: 1;
}

main {
  flex-grow: 1;
}

.navbar {
  background-color: #fff7de;
  padding: 2rem;
  box-shadow: #00000013 0px 3px 6px 3px;
}
